@use "../globals/colors.scss" as *;
@use "../globals/fonts.scss" as *;

body{
   background-color: black;
  color:white;
}
// img {
//   width: 100%;
//   height: 100%;
// }
.c-cell{
  width: 100%;
  height: 100%
}
.gallery{

  position: relative;
}

.gallery-cell {
margin: 0.9rem;
counter-increment: gallery-cell;
}
.navbar{
  background-color: #161f2f;
}
.margin-top-20 {
  margin-top: 20;
}
.w-65{
  width: 65%;
}
.container {
  margin: 0 auto;
 }
 /* no circle */
.flickity-button {
  background: transparent;
  color: white;
  position: absolute;
  z-index: 3;
  
}
.flickity-button:hover {
  background: white;
  color: black;
}
.flickity-button:disabled {
 color: rgba(255, 255, 255, 0.589);
}

button.flickity-prev-next-button.previous {
  right: 60px !important;
  top: -30px ;
  left: auto !important;
}

.flickity-prev-next-button.next {
  right: 10px;
  top: -30px;
}
.line{
  background-color: #c7950a  ;
  width: 25px;
  height: 2.3px;
}
.nowPlaying .gallery-cell
{
  width: 90%;
  height: 22rem;
}
@media only screen and (min-width: 768px)
{
  .nowPlaying .gallery-cell
  {
   
    width: 80%;
  }
}
.c-cell a{
  width: fit-content;
}

.forSearch {
  margin: 10px auto;
  width: 250px;
  height: 30px
}

/* The point of this tutorial is here */
.form {
  display: flex;
  flex-direction: row;
}
.search-field {
  width: 100%;
  padding: 4px 0px 4px 15px;
  border: none;
  border-radius: 100px;
  outline: none;
  background-color: #2c3443;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
}

.search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
a img{
  height: 3rem;
  width: 3rem;
}




// .forHeader{
//   background-color: $Very-Light-Gray;
//  margin: 0;
//  padding: 0;
// }
// .whyChoose{
//   margin-top: 370px;
// }
// .HeaderSection{
//   max-height: 636px;
// }

// .forimg1{
//  top: 0;
//  right: 0;
//   height: 43.5rem;
//   margin-right: -7rem;
//   // position: absolute;
//   // z-index: 3;
// }

// .forimg1 img {
//   // width: 100%;
//    height: 100%;
// }
// .lightFont{
//   font-family: $font-fam;
//   font-size: $font-size/1.7;
//   font-weight:300;
// }
// .card-body {
//   line-height: 20px;
// }
// .footer{
//   background-color: $Dark-Blue;
// }
// .regularFont{
//   font-family: $font-fam;
//   font-size: $font-size *0.7;
//   font-weight:400;
// }
// .boldFont{
//   font-family: $font-fam;
//   font-size: $font-size;
//   font-weight:700;
// }
// .bg-lime{
//   background-image: linear-gradient(to right, $Lime-Green ,$Bright-Cyan);
// }
// .bg-grayesh{
//   background-color:  $Grayish-Blue;
// }
// .my-sm-text{
//   font-size: 11px;
// }

// .footer-link{
//   text-decoration: none;
//   color: white;
//   text-align: center;
// }
// .card-link{
//   text-decoration: none;
//   color: black;
//   text-align: center;
  
// }
// i:hover,a:hover{
//   color: $Lime-Green;
// }
// #requestBtn:hover{
//   background-image: linear-gradient(to right, $Lime-Green-light ,$Bright-Cyan-light);
// }
// .nav-item:hover{
//   border-bottom:  $Lime-Green 4px solid;
// }